@model IEnumerable<ModelWeb.Models.Jobs>

@{
    ViewData["Title"] = "UpcomingJobs";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Upcoming jobs</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                Customer name
            </th>
            <th>
                Start date
            </th>
            <th>
                Duration (days)
            </th>
            <th>
                Location
            </th>
            <th>
                Number of models
            </th>
            <th>
                Comments
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumberOfDays)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Location)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumberOfModels)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Comments)
            </td>
            <td>
                <a asp-controller="Expenses" asp-action="Create" asp-route-jobIdParameter="@item.Id">Add expenses</a> | 
                <a asp-action="Details" asp-route-id="@item.Id">Details</a>
            </td>
        </tr>
}
    </tbody>
</table>
